---
name: Deploy

on:
  workflow_dispatch:

  push:
    branches:
      - "main"

permissions:
  contents: read
  id-token: write

concurrency:
  group: "deploy-scsi-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Get token
        id: get-token
        uses: "actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42" # ratchet:actions/create-github-app-token@v2
        with:
            app-id: "${{ secrets.ELASTIC_OBSERVABILITY_APP_ID }}"
            private-key: "${{ secrets.ELASTIC_OBSERVABILITY_APP_PEM }}"
            permission-contents: "read"
            repositories: |
              oblt-cli
              oblt-framework
              kibana

      - name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # ratchet:google-github-actions/auth@v3
        with:
          project_id: "elastic-observability"
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER_ID }}
